node_modules/
dist/
build-log.txt
*.log

.env
.env.local
.env.*.local

uploads/*
!uploads/.gitkeep

releases/*
!releases/.gitkeep

published-site/*
!published-site/.gitkeep

server/uploads/images/*
!server/uploads/images/.gitkeep
server/logs/

.DS_Store
Thumbs.db
