node_modules/
dist/
build-log.txt
*.log

.env
.env.local
.env.*.local

uploads/*
!uploads/.gitkeep

releases/*
!releases/.gitkeep

published-site/*
!published-site/.gitkeep

server/uploads/images/*
!server/uploads/images/.gitkeep
server/data/media-library.json
server/logs/

.DS_Store
Thumbs.db

server/uploads/videos/*
!server/uploads/videos/.gitkeep

server/uploads/documents/*
!server/uploads/documents/.gitkeep
server/data/media-library.broken-backup.json
server/data/media-library.corrupt-*.json

dist-static/
